:root {
  --orange: #cf7700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
.row {
  display: flex;
}
.justifyBetween {
  justify-content: space-between;
}
header.header {
  height: 100vh;
  padding: 1rem 0.2rem;
  color: white;
  background-image: url("../images/canvas.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.h-100 {
  height: 95%;
}
.logo {
  font-size: 1.5rem;
}
.navbar ul li a {
  padding: 0 0.7rem;
  font-size: 0.9rem;
  transition: 0.5s;
}
.navbar ul li a:hover {
  color: rgb(5, 210, 5);
}
.right {
  gap: 1.5rem;
}
.text-center {
  text-align: center;
}
.text-center h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.banner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
}
.inputs input {
  margin: -5px;
  border: none;
  border-left: 1px solid black;
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  outline: none;
}
.inputs form input:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.inputs form input:last-child {
  border-top-right-radius: 10px;
  background-color: var(--orange);
  width: 10rem;
  color: white;
  cursor: pointer;

  border-bottom-right-radius: 10px;
}
.title {
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem 0;
}
.line {
  background-color: var(--orange);
  width: 10rem;
  height: 4px;
  margin: 0.5rem auto;
}
.cards {
  padding: 1rem;
  flex-wrap: wrap;
  flex: 1;
  gap: 1rem;
}
.card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 100%;
}
.cards .card {
  border-radius: 5px;
  margin-top: 1rem;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 5px lightgray;
  width: 16rem;
}
.offers .card {
  width: 17.5rem;
}

.cards .card .content {
  padding: 1rem;
  width: 100%;
}

.cards .card .content .top {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.cards .top h5 {
  font-size: 1.2rem;
  font-weight: bold;
}
.top del {
  color: gray;
}
.cards .top span {
  font-size: 1.5rem;
  color: var(--orange);
}
.cards .cities {
  color: gray;
  font-size: 0.8rem;
}
.viewAll {
  text-align: center;
}
.viewAll a {
  padding: 1rem 2rem;
  color: white;
  display: inline-block;
  text-align: center;
  background-color: var(--orange);
  margin: 1rem auto;
  border-radius: 2rem;
}
header.toursHeader {
  padding: 1rem 0.2rem;
  color: black;
  box-shadow: 0px 0px 2px black;
}
.tour-banner {
  background-position: top;
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: center;
  color: rgb(0, 10, 28);
  flex-direction: column;
  gap: 1rem;

  height: 50vh;
  background-image: url("../images/background-02-1920x900.jpg");
}
.tour-main {
  padding: 2rem 0;
  background-color: #f5f5f5;
  position: relative;
}
.leftSide h4 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
.leftSide hr {
  color: rgba(241, 239, 239, 0.738);
  margin: 2rem auto;
  width: 90%;
}
.tour-main .leftSide {
  width: 25%;
  padding: 2rem 1.5rem;
  margin: 2rem;
  background-color: white;
}
.tour-main .rightSide {
  width: 75%;
  padding: 2rem 0;
}

.show {
  display: flex !important;
}
.logo .menu {
  display: none;
}
.rightSide .content h5 {
  font-size: 1rem;
}
.rightSide .content span {
  font-size: 1rem;
}
.tour-form button {
  width: 100%;
  padding: 0.6rem;
  background-color: var(--orange);
  margin: 0.5rem 0;
  color: white;
  outline: none;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.4s;
  border: 1px solid var(--orange);
}
.tour-form button:hover {
  background-color: white;
  color: var(--orange);
}
.tour-form input,
.tour-form select {
  width: 100%;
  padding: 0.6rem;
  background-color: #f5f5f5;
  margin: 0.5rem 0;
  outline: none;
  border: none;
  border-radius: 1rem;
}
.rangeInfo {
  color: var(--orange);
}
input.searchBtn {
  margin: 1.5rem auto;
  cursor: pointer;
  background-color: var(--orange);
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
}
.rowDiv label {
  font-size: 0.8rem;
}
.rowDiv select {
  background-color: white;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 1rem;
}
.rowDiv a {
  margin: 0 0.5rem;
}
.alignCenter {
  align-items: center;
}
.choices {
  width: 100%;

  padding: 0.6rem;
  background-color: #f5f5f5;
  margin: 0.5rem 0;
  font-size: 1rem;
  border-radius: 1rem;
}
.input-choice {
  cursor: pointer;
}
.input-choice .mode {
  color: rgb(90, 90, 90);
}
.choices .choice-label label {
  margin: 0.4rem;
  font-style: italic;
  color: rgb(97, 97, 97);
  font-size: 0.9rem;
}

.checkDiv {
  display: flex;
  align-items: center;
}
.checkDiv input {
  width: 20% !important;
}
.hidden {
  display: none;
}
.show {
  display: block !important;
}
.open-choice span {
  cursor: pointer;
  background-color: white;
  font-size: 1.5rem;
  width: 2rem;
  text-align: center;
  line-height: 2rem;
  height: 2rem;
  border-radius: 50%;
}
/* Chrome, Safari, Edge, Opera */
.open-choice input::-webkit-outer-spin-button,
.open-choice input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.open-choice .number {
  margin: 1rem;
  font-size: 0.9rem;
}
.open-choice .number label {
  color: rgb(90, 90, 90);
}
/* Firefox */
.open-choice input[type="number"] {
  -moz-appearance: textfield;
  width: 50%;
  text-align: center;
}

.popup-info {
  width: 27rem;
  min-height: 92vh;
  background-color: white;
  box-shadow: 0px 0px 10px black;
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -40%);
}
.popup-info .parent {
  width: 100%;
  height: 100%;
  position: relative;
}
.close {
  position: absolute;
  top: -1rem;
  right: -1rem;
  font-size: 2rem;
  width: 3rem;
  cursor: pointer;
  height: 3rem;
  background-color: rgb(113, 113, 113);
  color: white;
  text-align: center;
  line-height: 3rem;
  border-radius: 50%;
}
.popup-info .img {
  width: 100%;
  height: 12rem;
}
.popup-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fromTo {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0;
  color: var(--orange);
}
.content .info .row {
  padding: 0.2rem 1rem;
}
.content strong {
  margin-right: 0.5rem;
}
.popup-counters .price {
  font-size: 0.8rem;
  color: var(--orange);
}
.chkout {
  text-align: right;
}
.chkout a {
  display: inline-block;
  background-color: var(--orange);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin-right: 1rem;
  margin-top: 1rem;
}
.class-active {
  display: flex;
}
