:root {
  --orange: #cf7700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
.row {
  display: flex;
}
.justifyBetween {
  justify-content: space-between;
}
header.header {
  height: 100vh;
  padding: 1rem 0.2rem;
  color: white;
  background-image: url("../images/canvas.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.h-100 {
  height: 95%;
}
.logo {
  font-size: 1.5rem;
}
.navbar ul li a {
  padding: 0 0.7rem;
  font-size: 0.9rem;
  transition: 0.5s;
}
.navbar ul li a:hover {
  color: rgb(5, 210, 5);
}
.right {
  gap: 1.5rem;
}
.text-center {
  text-align: center;
}
.text-center h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.banner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
}
.inputs input {
  margin: -5px;
  border: none;
  border-left: 1px solid black;
  padding: 0.7rem 1rem;
  font-size: 1.2rem;
  outline: none;
}
.inputs form input:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.inputs form input:last-child {
  border-top-right-radius: 10px;
  background-color: var(--orange);
  width: 10rem;
  color: white;
  cursor: pointer;

  border-bottom-right-radius: 10px;
}
.title {
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem 0;
}
.line {
  background-color: var(--orange);
  width: 10rem;
  height: 4px;
  margin: 0.5rem auto;
}
.cards {
  padding: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 100%;
}
.cards .card {
  border-radius: 5px;
  margin-top: 1rem;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 5px lightgray;
  width: 30%;
}

.cards .card .content {
  padding: 1rem;
  width: 100%;
}

.cards .card .content .top {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.cards .top h5 {
  font-size: 1.2rem;
  font-weight: bold;
}
.top del {
  color: gray;
}
.cards .top span {
  font-size: 1.5rem;
  color: var(--orange);
}
.cards .cities {
  color: gray;
  font-size: 0.8rem;
}
.viewAll {
  text-align: center;
}
.viewAll a {
  padding: 1rem 2rem;
  color: white;
  display: inline-block;
  text-align: center;
  background-color: var(--orange);
  margin: 1rem auto;
  border-radius: 2rem;
}
header.toursHeader {
  padding: 1rem 0.2rem;
  color: black;
  box-shadow: 0px 0px 2px black;
}
.tour-banner {
  background-position: top;
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: center;
  color: rgb(0, 10, 28);
  flex-direction: column;
  gap: 1rem;

  height: 50vh;
  background-image: url("../images/background-02-1920x900.jpg");
}
.tour-main {
  padding: 2rem 0;
  background-color: #f5f5f5;
}
.leftSide h4 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
.leftSide hr {
  color: rgba(241, 239, 239, 0.738);
  margin: 2rem auto;
  width: 90%;
}
.tour-main .leftSide {
  width: 25%;
  padding: 2rem 1.5rem;
  margin: 2rem;
  background-color: white;
}
.tour-main .rightSide {
  width: 75%;
  padding: 2rem 0;
}
.rightSide .content h5 {
  font-size: 1rem;
}
.rightSide .content span {
  font-size: 1rem;
}
.tour-form input,
.tour-form select {
  width: 100%;
  padding: 0.6rem;
  background-color: #f5f5f5;
  margin: 0.5rem 0;
  outline: none;
  border: none;
  border-radius: 1rem;
}
.rangeInfo {
  color: var(--orange);
}
input.searchBtn {
  margin: 1.5rem auto;
  cursor: pointer;
  background-color: var(--orange);
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
}
.rowDiv label {
  font-size: 0.8rem;
}
.rowDiv select {
  background-color: white;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 1rem;
}
.rowDiv a {
  margin: 0 0.5rem;
}
